<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="primary">
  <ion-card>
    <form (submit)="OnSubmitLogin()" [formGroup]="loginForm">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" formControlName="usuario"></ion-input>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="clave"></ion-input>
        </ion-item>
        <br>
      <ion-button type="submit"  expand="block">Ingresar</ion-button>
    </ion-card-content>
  </form>
  
  </ion-card>
</ion-content>
